@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main: #ffffff;
    --secondary: #1c1c1c;
    --secondary-dark: #161616;
    --secondary-light: #2c2c2c;
    --primary: #e31c25;
    --primary-dark: #bb000e;
    --primary-light: #f31d27;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
